<table>
    <tr>
        <td>
            <label>PlayerScore</label>
            <input type="text" [(ngModel)]="playerScore" readonly  >
            <!-- <span [(ngModel)]=playerScore > </span> -->
            
        </td>
    <tr>
    <tr>
        <td>
    <label>BotScore</label>
    <input type="text" [(ngModel)]="botScore" readonly >
   
        </td>
    </tr>
    <tr>
            <td>
        <label>Draw</label>
        <input type="text" [(ngModel)]="draw" readonly>
            </td>
        </tr>
</table>
