p
{
    width:186px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#box
{
    border:1px solid black;
    height: 60px;
    width: 60px;
    float: right;
    text-align: center;
    color: blue;
    background-color: transparent;
    vertical-align: middle;
    line-height: 40px; 
    align-content: center;
    font-size: 60px;
}